@font-face {
  font-family: 'Hangyaku';
  src: url('./fonts/Hangyaku-x390R.ttf');
  font-weight: normal;
  font-style: normal;
}
:root {
  /* --purple: #80cbc4; */
  --purple: #f48fb1;
  --purple-dark: #283593;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
  width: 100%;
  /* background: url(./img/main_header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
  background-color: #f8bbd0;
  padding: 2rem 0;
}
.dokiColor {
  background: var(--purple);
}
.dokiFont {
  font-family: 'Hangyaku';
}
.headerMain {
  width: 100%;
  background: url(./img/main_header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.navMenu:first-child {
  margin-left: 1rem;
}
.navMenu:last-child {
  margin-right: 1rem;
}
.page-footer {
  /* background: url(./img/main_header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
  background-color: var(--purple);
}
.aboutUs img {
  width: 100%;
  margin: auto;
}
.basketTable {
  border: 0.2rem solid var(--purple);
  margin-bottom: 2rem;
  padding: 1rem;
}
.tableTitle {
  font-size: 2rem;
  background: var(--purple);
  color: #fff;
}
.profileCard{
  margin: 2rem auto;
  max-width: 600px;
}
/* .profileCard img{
  
} */
.centr {
  margin: 10vh auto;
  padding: 1em;
  max-width: 90vw;
}
.centr2 {
  margin: 20vh auto;
  padding: 2em;
  max-width: 90vw;
}
.centr3 {
  margin: 20vh auto;
}
.centr4 {
  display: flex;
  justify-content: center;
}
.dokiBlock {
  padding: 2rem;
  border-radius: 5px;
  margin: 2rem 0;
  background: var(--purple);
  color: #fff;
}
.textContent {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
.revision {
  font-size: 2rem;
  padding: 2rem;
}
.textContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textContent img {
  border-radius: 5px;
}
.card-action {
  padding: 0;
}
.white {
  padding: 2rem;
}
.projectDetails .card-content {
  font-size: 1rem;
}
.searchInput {
  position: relative;
}

.searchResult {
  position: absolute;
  margin: 0;
}
.cards1 {
  column-gap: 1rem;
  column-width: 300px;
  min-height: 100%;
  padding: 0 1rem;
}
.card1 {
  display: inline-block;
  height: 100%;
}
.formForm1{
  background-color: #fff;
  padding: 2rem;
}
.sldr img{
  border-radius: 3px;
}

@media screen and (max-width: 750px) {
  .cards1 {
    column-gap: 0px;
  }
  .cards1 div {
    width: 100%;
  }
}
/* .card1 {
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
  height: auto;
} */
/* .mapouter {
  border: 2px solid var(--purple);
} */
